@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,300&family=Chakra+Petch&family=Lora&family=Space+Grotesk:wght@500&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');

header {
 max-width: none;
  text-align: center;
}

button {
  font-family: "Space Grotesk", sans-serif;
  height: auto;
  width: auto;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

.darkmode-button:hover {
 border-color: dodgerblue;
}

.dark-mode {
  background-color: rgb(37, 37, 37);
  color: rgb(216, 214, 214);
}
 h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 80px;  
  max-width: none;
}

h4 {
  font-size: 22px;
  font-family: "Chakra Petch", sans-serif;
  max-width: none;
}

figcaption {
  margin-top: 1.5%;
  font-size: 22px;
  font-family: "Alegreya Sans", sans-serif;
  word-break: initial;
}

#image {
  height: auto;
  width: auto;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
}

p {
  white-space: pre-line;
  text-align: center;
  font-size: 18px;
  max-width: none;
}
 
main {
  max-width: none;
  text-align: center;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 32px;
  max-width: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
    list-style-type: none;
  font-family: "Lora", serif;
  font-size: 19px;
}

footer {
    margin-top: 65px;
}

 hr {
   width: 25vw;
}
h5 {
  font-size: 16px;
  font-family:'Source Serif Pro', serif;
  padding-top: 2.5;

}

a:link {
  text-decoration: none;
  color: rgb(73, 86, 207);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(64, 150, 150);
}
