@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,300&family=Chakra+Petch&family=Lora&family=Space+Grotesk:wght@500&family=Ubuntu&display=swap');


header {
 max-width: none;
  text-align: center;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 80px;  
  max-width: none;
}

h4 {
  font-size: 22px;
  font-family: "Chakra Petch", sans-serif;
  max-width: none;
}

figcaption {
  margin-top: 1.5%;
  font-size: 22px;
  font-family: "Alegreya Sans", sans-serif;
  word-break: initial;
}

#image {
  height: auto;
  width: 10%;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
}

p {
  white-space: pre-line;
  text-align: center;
  font-size: 18px;
  max-width: none;
}
 
main {
  max-width: none;
  text-align: center;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 32px;
  max-width: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
    list-style-type: none;
  counter-reset: 2;
  font-family: "Lora", serif;
  font-size: 19px;
}

li:before {
  content: "1912:";
  counter-increment: elementcounter;
  font-weight: bold;
}
h5 {
  font-size: 14px;
  padding-top: 2.5;
}
